<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.awsoft.blog.dao.LinkMapper" >
  <resultMap id="BaseResultMap" type="com.awsoft.blog.entity.Link" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="linkName" property="linkname" jdbcType="VARCHAR" />
    <result column="linkUrl" property="linkurl" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderno" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_link
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.awsoft.blog.entity.Link" >
    insert into t_link (id, linkName, linkUrl, 
      orderNo)
    values (#{id,jdbcType=INTEGER}, #{linkname,jdbcType=VARCHAR}, #{linkurl,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.awsoft.blog.entity.Link" >
    update t_link
    set linkName = #{linkname,jdbcType=VARCHAR},
      linkUrl = #{linkurl,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, linkName, linkUrl, orderNo
    from t_link
    where id = #{id,jdbcType=INTEGER}
    ORDER BY
    orderNo
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, linkName, linkUrl, orderNo
    from t_link
  </select>
</mapper>